{% load static %}
{% block content %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'time_manager\css\bootstrap.css' %}" crossorigin="anonymous">
  </head>
<body class="text-center" style="">
  <form action = "{% url 'time_manager:task_create' user.username %}" method = "post">
    {% csrf_token %}
    <h1 class="h3 mb-3 p-5 font-weight-normal">Please fill all lines</h1>
    <div class = "w-25 mx-auto">
      {{ form.task_text }}
      {% if form.errors.task_text %}
        <footer class="blockquote-footer">
            {{form.errors.task_text.as_text}}
        </footer>
      <br>
      {% endif %}
      {{ form.task_date }}
      {% if form.errors.task_date %}
        <footer class="blockquote-footer">
            {{form.errors.task_date.as_text}}
        </footer>
      {% endif %}
    <div class = "w-25 mx-auto">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
    </div> <BR>
  </form>
</body>
</html>

{% endblock %}
